[submodule "tb-webservice"]
	path = tb-webservice
	url = https://github.com/bsmallyt/tb-webservice.git
[submodule "tb-updateservice"]
	path = tb-updateservice
	url = https://github.com/bsmallyt/tb-updateservice.git
[submodule "tb-keycloak"]
	path = tb-keycloak
	url = https://github.com/bsmallyt/tb-keycloak.git
