tunnel: ${CLOUDFLARE_TUNNEL_NAME}
credentials-file: /etc/cloudflared/${CLOUDFLARE_TUNNEL_NAME}.json

ingress:
  - hostname: ${KEYCLOAK_HOSTNAME}
    service: https://keycloak:${KEYCLOAK_PORT}
    originRequest:
      noTLSVerify: true

  - hostname: ${WEB_HOSTNAME}
    service: http://web:${WEB_PORT}

  - service: http_status:404